<div class="max-w-7xl mx-auto px-16 pt-8 mb-48">
  <div class="flex flex-col gap-2 mb-4">
    <h2 class="text-xl font-medium">Buttons</h2>
    <hr class="mb-2">
    <div class="flex flex-col gap-8 px-4">
      <div>
        <h3 class="text-lg font-semibold mb-2">Colors</h3>
        <div class="flex gap-4">
          <button type="button" wuiButton color="primary" size="md">Primary</button>
          <button type="button" wuiButton color="secondary" size="md">Secondary</button>
          <button type="button" wuiButton color="info" size="md">Info</button>
          <button type="button" wuiButton color="neutral" size="md">Neutral</button>
          <button type="button" wuiButton color="success" size="md">Success</button>
          <button type="button" wuiButton color="danger" size="md">Danger</button>
          <button type="button" wuiButton color="warning" size="md">Warning</button>
        </div>
      </div>

      <div>
        <h3 class="text-lg font-semibold mb-2">Rounded</h3>
        <div class="flex gap-4">
          <button type="button" wuiButton color="primary" size="md" rounded>Primary</button>
          <button type="button" wuiButton color="secondary" size="md" rounded>Secondary</button>
          <button type="button" wuiButton color="info" size="md" rounded>Info</button>
          <button type="button" wuiButton color="neutral" size="md" rounded>Neutral</button>
          <button type="button" wuiButton color="success" size="md" rounded>Success</button>
          <button type="button" wuiButton color="danger" size="md" rounded>Danger</button>
          <button type="button" wuiButton color="warning" size="md" rounded>Warning</button>
        </div>
      </div>

      <div>
        <h3 class="text-lg font-semibold mb-2">Outline</h3>
        <div class="flex gap-4">
          <button type="button" wuiButton color="primary" size="md" outline>Primary</button>
          <button type="button" wuiButton color="secondary" size="md" outline>Secondary</button>
          <button type="button" wuiButton color="info" size="md" outline>Info</button>
          <button type="button" wuiButton color="neutral" size="md" outline>Neutral</button>
          <button type="button" wuiButton color="success" size="md" outline>Success</button>
          <button type="button" wuiButton color="danger" size="md" outline>Danger</button>
          <button type="button" wuiButton color="warning" size="md" outline>Warning</button>
        </div>
      </div>

      <div>
        <h3 class="text-lg font-semibold mb-2">Loading</h3>
        <div class="flex gap-4">
          <button type="button" wuiButton color="primary" size="md" loading loadingText="Loading...">Primary</button>
          <button type="button" wuiButton color="warning" size="md" [loading]="loading()" loadingText="Loading..." (click)="load()">Click me</button>
        </div>
      </div>

      <div>
        <h3 class="text-lg font-semibold">Sizes</h3>
        <div class="flex gap-4 items-center">
            <button type="button" wuiButton color="primary" size="xs">Extra small</button>
            <button type="button" wuiButton color="primary" size="sm">Small</button>
            <button type="button" wuiButton color="primary" size="md">Base</button>
            <button type="button" wuiButton color="primary" size="lg">Large</button>
            <button type="button" wuiButton color="primary" size="xl">Extra large</button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2 mb-4">
    <h2 class="text-xl font-medium">Inputs</h2>
    <hr class="mb-2">
    <div class="flex flex-col gap-8 px-4">
      <div>
        <h3 class="text-lg font-semibold mb-2">Floating</h3>
        <div class="flex gap-4">
          <wui-float-field size="xs">
            <input wuiInputText id="xsmall-input" placeholder="Ingresa tu usuario"/>
            <label for="xsmall-input">Username</label>
          </wui-float-field>

          <wui-float-field size="sm">
            <input wuiInputText id="small-input" placeholder="Ingresa tu usuario"/>
            <label for="small-input">Username</label>
          </wui-float-field>

          <wui-float-field size="md">
            <input wuiInputText id="medium-input" placeholder="Ingresa tu usuario"/>
            <label for="medium-input">Username</label>
          </wui-float-field>

          <wui-float-field size="lg">
            <input wuiInputText id="large-input" placeholder="Ingresa tu usuario"/>
            <label for="large-input">Username</label>
          </wui-float-field>

          <wui-float-field size="xl">
            <input wuiInputText id="xlarge-input" placeholder="Ingresa tu usuario"/>
            <label for="xlarge-input">Username</label>
          </wui-float-field>
        </div>
      </div>
    </div>
  </div>
</div>
